# Supabase Configuration
VITE_SUPABASE_URL=https://dorxwxczijzgubkbhppd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvcnh3eGN6aWp6Z3Via2JocHBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MjQzNDYsImV4cCI6MjEwMjIwMDM0Nn0.Yf7ARNwAjv_RgvIlcVWHW6JMl3m9P3OMrP5x4odymdU
